.Titlebar {
    height: 30px;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
}

.Titlebar-Button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    user-select: none;
    cursor: default;
    border-radius: 50%;
    margin: 6px;
}

.Close {
    background-color: orangered;
}

.Other {
    background-color: goldenrod;
}

.Titlebar-Button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
